<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div style="position: relative;max-width: 800px;padding: 15px;background-color: #00a0e9;">
        <div style="position: relative;padding: 5%;background-color: #fff;border-radius: 10px;">
            <h1 style="margin-bottom: 50px;padding-bottom: 20px;border-bottom: 1px solid #00a0e9;font-size: 0;">
                <!--a th:href="${portalUrl}" target="_blank">
					<img th:src="|${portalUrl}/images/logo_dataon.png|" alt="" style="width: 25%;max-width: 160px;">
				</a-->
            </h1>
            <div style="padding: 0 25px;">
                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="table-layout:fixed;border-collapse: collapse">
                    <tbody>
                        <tr>
                            <td style="padding-bottom: 20px;font-size: 24px;text-align: center;">
                                <strong>TITLE</strong>
                                <!--strong>자동차데이터포털</strong> 사용자 <strong style="color:#0355a3"> 인증 알림</strong-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="line-height: 2;padding: 50px 20px;background-color: #efefef;border-radius: 10px;font-weight: bold;text-align: center;">
                                    <p>메일 전송 테스트</p>
                                    <p style="display: block;width:300px;height: 50px;line-height: 50px;margin: 30px auto 0;background-color: #00a0e9;
										text-align: center;color: #fff;border-radius: 8px;text-decoration: none;font-size: 20px;">SBST</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>