<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="position: relative;max-width: 800px;padding: 15px;background-color: #00A0E9;">
    <div style="position: relative;padding: 5%;background-color: #fff;border-radius: 10px;">
        <h1 style="margin-bottom: 50px;padding-bottom: 20px;border-bottom: 1px solid #00A0E9;font-size: 0;">
            <!--a th:href="${portalUrl}" target="_blank">
                <img th:src="|${portalUrl}/images/logo_dataon.png|" alt="" style="width: 25%;max-width: 160px;">
            </a-->
        </h1>
        <div style="padding: 0 25px;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="table-layout:fixed;border-collapse: collapse">
                <tbody>
                <tr>
                    <td style="padding-bottom: 20px;font-size: 24px;text-align: center; font-weight: bold">
                        자동차산업클라우드 <span style="color:#0355a3"> VPN 계정</span> 생성완료
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="line-height: 2;padding: 50px 20px;background-color: #EFEFEF;border-radius: 10px;font-weight: bold;text-align: center;">
                            <p>
                                <strong>
                                    [<a href="https://bigdata-car.kr:2443" style="text-decoration: none;font-size: 18px;color: #0000FF">VPN프로그램</a>] 설치 후 접속 해 주세요.
                                </strong>
                            </p>
                            <p style="display: flex; justify-content: center; align-items: center;margin: 30px 30px 0;">
                                <span href="CONTENTS2" style="text-align:left;line-height: 28px;white-space: normal; word-break: break-all; padding:12px 32px;background-color: #00A0E9; color: #fff;border-radius: 8px;text-decoration: none;font-size: 18px;">
                                    [설정 정보]<br/>
                                    &nbsp;&nbsp;. 서버 이름 : KADaP Cloud<br/>
                                    &nbsp;&nbsp;. 서버 IP : www.bigdata-car.kr<br/>
                                    &nbsp;&nbsp;. 포트번호 : 3443<br/><br/>
                                    [로그인 정보]<br/>
                                    &nbsp;&nbsp;. 아이디 : CONTENTS1<br/>
                                    &nbsp;&nbsp;. 비밀번호(임시) : CONTENTS2<br/>
                                </span>
                            </p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>