{% extends 'base.html'%}
{% block content %}

  <div class="container my-3">
    <div class="container my-3">
      <h2 class="border-bottom py-2">테이블 생성</h2>

      <form class="my-3" method="post">
        <div class="form-group col-md-6">
          <label for="table_nm">테이블명</label>
          <input type="text" class="form-control" name="table_nm" id="table_nm" value="{{ form.table_nm.value|default_if_none:'' }}"/>
        </div>
        <div class="form-group col-md-6">
          <label for="schema">카테고리명</label>
          <select class="form-control" name="schema" id="schema">
            {% for choice in form.schema.field.choices %}
              {% if choice.1 == form.schema.value %}
                <option selected="selected" value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <input type="submit" value="테이블 생성" class="btn btn-primary"/>
      </form>
      <div class="row my-3">
        <div class="col-8">
          <h2 class="border-bottom py-2">테이블 조회</h2>
        </div>
        <div class="col-4">
          <div class="input-group">
            <input type="text" id="search_kw" class="form-control" placeholder="테이블명 키워드" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="btn_search">검색</button>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr class="thead-dark">
            <th>카테고리</th>
            <th>테이블명</th>
            <th>수정</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody>
          {% if table_list %}
            {% for table in table_list %}
              <tr>
                <td>{{ table.schema }}</td>
                <td>
                  <a href="{% url 'table:table_detail' table.table_id %}">
                    {{ table.table_nm }}
                  </a>
                </td>
                <td>
                  <a href="{% url 'table:update_table' table.table_id %}">
                    수정
                  </td>
                  <td>
                    <a onclick="return confirm('<{{ table.table_nm }}>를 정말 삭제하시겠습니까?');" href="{% url 'table:delete_table' table_id=table.table_id %}">
                      삭제
                    </a>
                  </td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <td colsapn="3">등록된 테이블이 없습니다.</td>
              </tr>
            {% endif %}
          </tbody>
        </table>
      </div>

      <!-- 페이징처리 시작 -->
      <ul class="pagination justify-content-center">
        <!-- 페이지리스트 -->
        {% for page_number in table_list.paginator.page_range %}
          {% if page_number == table_list.number %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- 페이징처리 끝 -->
      <form id="searchForm" method="get" action="{% url 'table:table_list' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
      </form>
    {% endblock %}
    {% block script %}
      <script type='text/javascript'>
        const page_elements = document.getElementsByClassName("page-link");
        Array
          .from(page_elements)
          .forEach(function (element) {
            element.addEventListener('click', function () {
              document
                .getElementById('page')
                .value = this.dataset.page;
              document
                .getElementById('searchForm')
                .submit();
            });
          });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function () {
          document
            .getElementById('kw')
            .value = document
            .getElementById('search_kw')
            .value;
          document
            .getElementById('page')
            .value = 1; // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
          document
            .getElementById('searchForm')
            .submit();
        });
      </script>
    {% endblock %}
