{% extends 'base.html'%}
{% block content %}

  <div class="container my-3">
    <div class="container my-3">
      <h2 class="border-bottom py-2">테이블 생성</h2>

      <form class="my-3" method="post">
        <div class="form-group col-md-6">
          <label for="table_nm">테이블명</label>
          <input type="text" class="form-control" name="table_nm" id="table_nm" value="{{ form.table_nm.value|default_if_none:'' }}"/>
        </div>
        <div class="form-group col-md-6">
          <label for="schema">카테고리명</label>
          <select class="form-control" name="schema" id="schema">
            {% for choice in form.schema.field.choices %}
              {% if choice.1 == form.schema.value %}
                <option selected="selected" value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <input type="submit" value="테이블 생성" class="btn btn-primary"/>
      </form>

      <h2 class="border-bottom py-2">테이블 조회</h2>
      <table class="table table-bordered">
        <thead>
          <tr class="thead-dark">
            <th>카테고리</th>
            <th>테이블명</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody>
          {% if table_list %}
            {% for table in table_list %}
              <tr>
                <td>{{ table.schema }}</td>
                <td>
                  <a href="{% url 'table:table_detail' table.table_id %}">
                    {{ table.table_nm }}
                  </a>
                </td>
                <!--td> <a href="{% url 'table:delete_table' table_id=table.table_id %}"> 삭제 </a> </td-->
                <td></td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colsapn="3">등록된 테이블이 없습니다.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  {% endblock %}
</div>
