{% extends 'base.html'%}
{% block content %}
  <div class="container my-3">
    <div class="col">
      <h2 class="border-bottom py-2">테이블 변경</h2>
      <form class="my-3" method="post">
        <div class="form-group col-md-6">
          <label for="table_nm">테이블명</label>
          <input type="text" class="form-control" name="table_nm" id="table_nm" value="{{ form.table_nm.value|default_if_none:'' }}"/>
        </div>

        <div class="form-group  col-md-6">
          <label for="schema">카테고리명</label>
          {% if form.schema.value %}
            <input type="text" class="form-control" name="schema" id="schema" value="{{ form.schema.value|default_if_none:'' }}" readonly="readonly"/>
          {% else %}
            <input type="text" class="form-control" name="schema" id="schema" value="{{ form.schema.value|default_if_none:'' }}"/>
          {% endif %}
        </div>

        <input type="submit" value="변경" class="btn btn-primary"/>
        <a href="{% url 'table:table_list' %}" class="btn btn-primary">취소</a>
      </form>

    </div>
  </div>
{% endblock %}
